In [1]:
import numpy as np

In [2]:
str1="My name is Charu Singh"
str2="I am studying in MCC College"

In [3]:
#conatenating two strings
print(str1+str2)

My name is Charu SinghI am studying in MCC College

In [4]:
print(np.char.add(str1,str2))

My name is Charu SinghI am studying in MCC College

In [5]:
np.char.add(str1,str2)

array('My name is Charu SinghI am studying in MCC College', dtype='<U50')

In [6]:
print(np.char.lower(str1))

my name is charu singh

In [7]:
print(np.char.upper(str2))

I AM STUDYING IN MCC COLLEGE

In [8]:
print(np.char.center(str1,79))

                             My name is Charu Singh

In [12]:
print(np.char.center(str1,79,fillchar="*"))

*****************************My name is Charu Singh****************************

In [13]:
print(np.char.split(str1))

['My', 'name', 'is', 'Charu', 'Singh']

In [19]:
str3="My\nname\nis\nCharu\nSingh"
str3

'My\nname\nis\nCharu\nSingh'

In [16]:
print(np.char.splitlines(str3))

['My', 'name', 'is', 'Charu', 'Singh']

In [24]:
str4="dmy"
str5="dmy"
print(np.char.join([":","-"],[str4,str5]))

['d:m:y' 'd-m-y']

In [26]:
print(np.char.replace(str2,'MCC',"Madras Christian"))

I am studying in Madras Christian College

In [27]:
print(np.char.equal(str4,str5))

True

In [28]:
print(np.char.equal(str1,str2))

False

In [30]:
print(np.char.count(str2,"C"))

3

In [31]:
print(np.char.find(str2,"C"))

18