In [2]:
import pandas as pd

In [4]:
pd.__version__

'0.25.1'

In [6]:
list1=[1,2,3.4,23,334.34,'value','str']
#index value and Labels
#series will always have only 1 d data
series1=pd.Series(list1)
series1

0         1
1         2
2       3.4
3        23
4    334.34
5     value
6       str
dtype: object

In [7]:
series2=pd.Series([1,2,3,4,5])
series2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
empty=pd.Series([])
empty

Series([], dtype: float64)

In [9]:
#to change the index values
series3=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
series3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
#to change the data type
series4=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype='float')
series4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [11]:
#to change the name of series
series4=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype='float',name='numerical values')
series4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: numerical values, dtype: float64

In [13]:
#only one value
scalar=pd.Series([1])
scalar

0    1
dtype: int64

In [18]:
#copying same values
scalar=pd.Series(10,index=['a','b','c'])
scalar

a    10
b    10
c    10
dtype: int64

In [20]:
#dictionary as series
dict_1=pd.Series({'a':1,'b':2})
dict_1

a    1
b    2
dtype: int64

In [21]:
s4=pd.Series([1,2,3,4,5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
#can access any series values
s4[2]

3

In [24]:
s4[0]

1

In [25]:
#slicing series
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [26]:
max(s4)

5

In [27]:
min(s4)

1

In [28]:
#using conditional operator
s4[s4>3]

3    4
4    5
dtype: int64

In [29]:
#adding 2 series
s5=pd.Series([2,5,2,7,3])
s6=pd.Series([4,2,7,2,5])
s5+s6

0    6
1    7
2    9
3    9
4    8
dtype: int64

In [30]:
#adding unequal series
s7=pd.Series([1,7,4])
s5+s7

0     3.0
1    12.0
2     6.0
3     NaN
4     NaN
dtype: float64